# Review

In [ ]:
t1 = ()

In [2]:
type(t1)

tuple

In [3]:
t4 = 1, 2, 3

In [4]:
type(t4)

tuple

In [5]:
t2 = 1

In [6]:
type(t2)

int

In [7]:
t3 = 1,

In [8]:
type(t3)

tuple

In [12]:
t5  = (1)

In [13]:
type(t5)

int

In [14]:
s1 = {1, 2, 3}

In [16]:
type(s1)

set

In [20]:
s2 = set([1, 2, 3])

In [21]:
s2

{1, 2, 3}

In [22]:
s1 == s2

True

In [28]:
a = [1, 2, 3, 4]
while a:
    print(a.pop())

4
3
2
1

In [29]:
a

[]

In [30]:
bool(a)

False

In [31]:
a = 0
while a < 10:
    a = a + 1
    print(a)

1
2
3
4
5
6
7
8
9
10

In [32]:
a = "a:b:c:d"
b = a.replace(":", "#")

In [33]:
b

'a#b#c#d'

# For

In [35]:
test_list = ['one', 'two', 'three']
for i in test_list:
    print(i)

one
two
three

In [36]:
marks = [90, 25, 97, 45, 80]

number = 0
for mark in marks:
    number = number + 1        # 여기서 number는 list 각 요소의 순번을 의미함
    if mark >= 60:
        print("%d번 학생은 합격입니다." % number)
    else:
        print("%d번 학생은 불합격입니다." % number)

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

In [37]:
marks = [90, 25, 67, 45, 80]

number = 0

for mark in marks:
    number = number + 1
    if mark < 60 : continue    # 60점 미만인 학생은 제외하고
    print("%d번 학생 축하합니다. 합격입니다." % number)

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [38]:
a = range(10)

In [39]:
a

range(0, 10)

In [40]:
print(a)

range(0, 10)

In [143]:
add = 0
for i in range(1, 11):
    add = add + i
print(add)

55

In [156]:
for i in range(1, 11):
    if i % 2 == 0: continue
    print(i, end=' ')

1 3 5 7 9

In [44]:
add = 0
while add < 11:
    add = add + 1

In [45]:
print(add)

11

In [60]:
for add in range(1, 11):
    print(add)

1
2
3
4
5
6
7
8
9
10

In [83]:
for i in range(1, 11):
    if i % 2 == 0: continue
    print(i, end=' ')

1 3 5 7 9

In [85]:
for i in range(1, 11):
    if i % 2 == 1: 
        print(i, end=' ')

1 3 5 7 9

In [71]:
# list 요소의 개수 = 리스트 길이 len()
marks = [90, 25, 67, 45, 80]
for number in range(len(marks)):       # range(5) = range(0,5)
    print(number)

0
1
2
3
4

In [72]:
for number in range(5):
    print(number)

0
1
2
3
4

In [73]:
range(5)

range(0, 5)

In [74]:
print(range(5))

range(0, 5)

In [79]:
for i in range(2, 10):
    for j in range(1, 10):
        print(i*j, end = " ")        # end = " " : 한칸 띄고 옆으로 배열
    print('')

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [88]:
# 2 * 1 = 2, 2 * 2 = 4, ...

for i in range(2, 10):
    for j in range(1, 10):
        print("%d * %d = %d" % (i, j, i*j), end = " ")
    print('')

2 * 1 = 2 2 * 2 = 4 2 * 3 = 6 2 * 4 = 8 2 * 5 = 10 2 * 6 = 12 2 * 7 = 14 2 * 8 = 16 2 * 9 = 18
3 * 1 = 3 3 * 2 = 6 3 * 3 = 9 3 * 4 = 12 3 * 5 = 15 3 * 6 = 18 3 * 7 = 21 3 * 8 = 24 3 * 9 = 27
4 * 1 = 4 4 * 2 = 8 4 * 3 = 12 4 * 4 = 16 4 * 5 = 20 4 * 6 = 24 4 * 7 = 28 4 * 8 = 32 4 * 9 = 36
5 * 1 = 5 5 * 2 = 10 5 * 3 = 15 5 * 4 = 20 5 * 5 = 25 5 * 6 = 30 5 * 7 = 35 5 * 8 = 40 5 * 9 = 45
6 * 1 = 6 6 * 2 = 12 6 * 3 = 18 6 * 4 = 24 6 * 5 = 30 6 * 6 = 36 6 * 7 = 42 6 * 8 = 48 6 * 9 = 54
7 * 1 = 7 7 * 2 = 14 7 * 3 = 21 7 * 4 = 28 7 * 5 = 35 7 * 6 = 42 7 * 7 = 49 7 * 8 = 56 7 * 9 = 63
8 * 1 = 8 8 * 2 = 16 8 * 3 = 24 8 * 4 = 32 8 * 5 = 40 8 * 6 = 48 8 * 7 = 56 8 * 8 = 64 8 * 9 = 72
9 * 1 = 9 9 * 2 = 18 9 * 3 = 27 9 * 4 = 36 9 * 5 = 45 9 * 6 = 54 9 * 7 = 63 9 * 8 = 72 9 * 9 = 81

In [89]:
# 기존 리스트 자료 사용하여 빈리스트에 요소 넣기 >>> append 함수
a = [1, 2, 3, 4]
result = []
for num in a : 
    result.append(num*3)
print(result)

[3, 6, 9, 12]

In [90]:
# 리스트 내포
a = [1, 2, 3, 4]
result = [num * 3 for num in a]
print(result)

[3, 6, 9, 12]

In [95]:
a = "Life is too short, you need python"
if "wife" in a:
    print("wife")
elif "python" in a and "you" not in a:
    print("python")
elif "shirt" not in a:
    print("shirt")
elif "need" in a: 
    print("need")
else: 
    print("none")

shirt

In [376]:
#  while 문을 사용해 1~1000 사이의 숫자중 3의 배수의 합 구하기

add = 0
i = 1            # i값 초기화 필요. 이 단계 없으면 문자로 인식함
while i <= 1000:
    if i % 3 == 0:    # 3의 배수인지 확인
        add = add + i
    i = i + 1
print(add)

166833

In [102]:
#  while문 사용하여 별(*) 표시하는 프로그램 작성하기
star = 0
while star < 5:
    star = star + 1
    print("*" * star)

*
**
***
****
*****

In [109]:
#  for문 사용하여 별(*) 표시하는 프로그램 작성하기
for star in range(1, 6):
    print("*" * star)

*
**
***
****
*****

In [377]:
i = 0
while True:
    i = i + 1
    if i > 5 : break
    print("*" * i)

*
**
***
****
*****

In [252]:
# 1~100까지 자연수 더하기

add = 0
for i in range(1, 101):
    add = add + i
    
print(add)

5050

# function 함수

In [172]:
def add(a, b):       # 입력값과 결과값이 모두 있는 전형적인 함수 형태
    return a + b

In [173]:
a = 3
b = 4
c = add(a,b)

In [174]:
print(c)

7

In [175]:
d = add(1, 2)

In [176]:
print(d)

3

In [177]:
def say():            # 입력값 없는 함수. 부르기만 하면 무조건 같은 값 가져옴.
    return "hi"

In [178]:
a = say()

In [179]:
print(a)

hi

In [180]:
def add(a, b):        # 결과값(return)이 없는 함수
    print("%d, %d의 합은 %d입니다." % (a, b, a+b))

In [181]:
add(3, 4)

3, 4의 합은 7입니다.

In [184]:
a = add(3, 4)
print(a)            # 결과값 없음.

3, 4의 합은 7입니다.
None

In [185]:
def say():
    print('hi')

In [186]:
say()

hi

In [226]:
# 매개변수의 개수가 정해져 있지 않을때, 매개변수의 합 구하는 함수 만들기

def add_many(*args):    # args는 관용적인 표현. 다른 단어를 넣어도 상관 없음.
    result = 0
    for i in args:
        result = result + i

    return result

In [227]:
result = add_many(1, 2, 3)
print(result)

6

In [228]:
result = add_many(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(result)

55

In [378]:
# 선택(add / mul)에 따라 다른 연산 결과 불러오기

def add_mul(choice, *args):
    if choice == 'add':
        result = 0
        for i in args:
            result = result + i
    elif choice == 'mul':
        result = 1
        for i in args:
            result = result * i
    return result

In [247]:
result = add_mul('add', 1, 2, 3, 4, 5)

In [248]:
print(result)

15

In [249]:
result = add_mul('mul', 1, 2, 3, 4, 5,)
print(result)

120

In [253]:
def add_and_mul(a,b):
    return a + b, a * b

In [254]:
result= add_and_mul(3, 4)

In [255]:
print(result)

(7, 12)

In [256]:
result1, result2 = add_and_mul(3, 4)

In [257]:
print(result2)

12

In [261]:
def add_and_mul(a,b):
    return a + b
    return a * b

In [262]:
result = add_and_mul(2, 3)

In [263]:
print(result)            # return을 만나는 순간 끝남. return이 두개 쓰여도 맨 위의 return만 적용됨.

5

In [264]:
def say_myself(name, old, man=True):
    print('나의 이름은 %s 입니다.'% name)
    print('나이는 %d살 입니다.'% old)
    if man:
        print('남자입니다.')
    else:
        print('여자입니다.')

In [265]:
say_myself('박응용', 30, True)

나의 이름은 박응용 입니다.
나이는 30살 입니다.
남자입니다.

In [266]:
say_myself('위소현', 30, False)

나의 이름은 위소현 입니다.
나이는 30살 입니다.
여자입니다.

In [268]:
say_myself('최민호', 26,)        # True값이 입력 안되면 True로 인식됨.

나의 이름은 최민호 입니다.
나이는 26살 입니다.
남자입니다.

In [271]:
a = 1
def vartest(a):
    a = a + 1

In [272]:
vartest(a)

In [273]:
print(a)

1

In [274]:
# 지역 변수 : 특정 범위 안에서만 통용
# 전역 변수 : 전체에서 통용

In [281]:
def vartest(a):
    a = a + 1
    print(a)

In [282]:
vartest(3)

4

In [283]:
print(a)

1

In [284]:
print(vartest(3))

4
None

In [285]:
eng = vartest(3)
print(eng)

4
None

In [286]:
a = 1               # return 사용해서 전역변수 사용하기
def vartest(a):     # 2
    a = a + 1
    return a

a = vartest(a)       # 1
print(a)

2

In [287]:
a = 1
def vartest():
    global a        # global 명령어를 사용해서 전역변수 선언.
    a = a + 1
    
vartest()

In [288]:
print(a)

2

In [290]:
# lambda로 함수 간결하게 만들기

add = lambda a, b : a + b        
result = add(3, 4)
print(result)

7

# Input and output 입력과 출력

In [291]:
a = input()

안녕

In [292]:
a = input()

In [293]:
a = input()

Hello

In [294]:
a

'Hello'

In [295]:
number = input('숫자를 입력하세요: ')

숫자를 입력하세요: 3

In [296]:
number        # 문자로 입력되서 따옴표 있음

'3'

In [297]:
number = int(input('숫자를 입력하세요: '))

숫자를 입력하세요: 3

In [298]:
number        # 숫자로 입력되서 따옴표 없음

3

In [299]:
a = 123
print(a)

123

In [300]:
a = 'python'

In [301]:
print(a)

python

In [302]:
a = [1, 2, 3]

In [303]:
print(a)

[1, 2, 3]

In [306]:
print('life' + 'is', 'too short')

lifeis too short

In [308]:
print('life', 'is', 'too short')        # 쉼표 넣으면 띄어쓰기 생김

life is too short

In [309]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [310]:
for i in range(10):
    print(i, end = ' ')

0 1 2 3 4 5 6 7 8 9

# 파일 생성하기

In [311]:
f = open('새파일.txt', 'w')    # w : write
f.close()

In [313]:
# 윈도우 버튼 오른쪽에 돋보기 단추 클릭
# 검색에 cmd 치고 클릭

# 관리자 명령 프롬프트

'''
dir : 디렉토리 안에 있는 파일 목록 확인
cd 디렉토리명 : 특정 디렉토리 안으로 이동
md 디렉토리명 : 디렉토리 만들기
rd 디렉토리명 : 디렉토리 삭제
cd..: 디렉토리에서 빠져 나올때
type 디렉토리명 : 파일 열기
'''

'\ndir : 디렉토리 안에 있는 파일 목록 확인\ncd 디렉토리명 : 특정 디렉토리 안으로 이동\nmd 디렉토리명 : 디렉토리 만들기\nrd 디렉토리명 : 디렉토리 삭제\ncd..: 디렉토리에서 빠져 나올때\n'

In [314]:
f = open('새파일.txt', 'w')
for i in range(1, 10):
    data = '%d번째 줄입니다.\n' % i
    f.write(data)
f.close()

In [315]:
f = open('새파일.txt', 'r')    # r : read
line = f.readline()
print(line)
f.close()

1번째 줄입니다.

In [317]:
# 생성한 파일의 내용 읽기 1) while True 무한루프 사용

f = open('새파일.txt', 'r')
while True:
    line = f.readline()
    if not line : break
    print(line)
    
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

In [379]:
# 생성한 파일의 내용 읽기 2) readlines 함수 사용

f = open('새파일.txt', 'r')
lines = f.readlines()
for line in lines:
    print(line)
f.close()

Life is too short.

You need java.

In [319]:
# 생성한 파일의 내용 읽기 3) read 함수 사용

f = open('새파일.txt', 'r')
data = f.read()
print(data)
f.close()

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.

In [321]:
f = open('새파일.txt', 'a')    # a : append 추가
for i in range(11, 20):
    data = '%d번째 줄입니다.\n' % i
    f.write(data)
f.close()

In [322]:
# dos 명령어를 사용해서 새파일.txt 열어서 확인하세요.

# Exercise

In [326]:
# 주어진 자연수가 홀수인지 짝수인지 판별해주는 함수(is_odd) 작성해보기

def is_odd(a):
    if a % 2 == 1:
        return("홀수")
    else:
        return("짝수")

In [327]:
is_odd(3)

'홀수'

In [328]:
is_odd(8)

'짝수'

In [355]:
def average(*args) :
    sum = 0
    for arg in args : 
        sum = sum + arg
    return sum / len(args)

In [358]:
result = average(1, 2, 3)

In [359]:
print(result)

2.0

In [363]:
input1 = int(input("첫번째 숫자를 입력하세요: "))
input2 = int(input("두번째 숫자를 입력하세요: "))

total = input1 + input2
print("두 수의 합은 %d 입니다." % total)

첫번째 숫자를 입력하세요: 3
두번째 숫자를 입력하세요: 2
두 수의 합은 5 입니다.

In [365]:
print("".join(["you", "need", "python"]))    # join함수 : ".".join([a, b, c])

youneedpython

In [368]:
f1 = open("test.txt", 'w')
f1.write("Life is too short")
f1.close()

f2 = open("test.txt", 'r')
print(f2.read())
f2.close()

Life is too short

In [387]:
f = open("test.txt", 'r')
body = f.read()
f.close()

body = body.replace('java', 'python')

f = open("test.txt", 'w')
f.write(body)
f.close()