In [3]:
marks = [ 90, 25, 67, 45, 80]
for number in range(len(marks)):
    print(number)

0
1
2
3
4

In [5]:
a = [1, 2, 3, 4]
result = []
for i in a:
    result.append(i*3)
print(result)

[3, 6, 9, 12]

In [6]:
a = [1, 2, 3, 4]
result = [num * 3 for num in a]
print(result)

[3, 6, 9, 12]

In [8]:
#  while 문을 사용해 1~1000 사이의 숫자중 3의 배수의 합 구하기

add = 0
a = 1
while a <= 1000:
    if a % 3 == 0:
        add = add + a
    a = a + 1
print(add)

166833

In [11]:
#  while 문 사용하여 별(*) 표시하는 프로그램 작성하기

star = 0
while star < 5:
    star = star + 1
    print('*' * star)

*
**
***
****
*****

In [12]:

for star in range(1, 6):
    print('*' * star)

*
**
***
****
*****

In [25]:
star = 0
while True:
    star = star + 1
    if star > 5 : break
    print("*" * star)

*
**
***
****
*****

In [26]:
star = 0
while True:
    star = star + 1
    if star > 5 : break
    print("*" * star)

*
**
***
****
*****

In [27]:
add = 0
for i in range(1, 101):
    add = add + i
print(add)

5050

In [28]:
score = [70, 60, 55, 75, 95, 90, 80, 85, 100]

sum = 0
for i in score :
    sum = sum + i
average = sum/len(score)
print(average)

78.88888888888889

In [29]:

def add_many(*args):
    result = 0
    for i in args:
        result += i
    return result

In [30]:
add_many(1, 2, 3)

6

In [31]:
def add_mul(choice, *args) :
    if choice == 'add':
        result = 0
        for i in args:
            result += i
    elif choice == 'mul':
        result = 1
        for i in args:
            result = result * i
    return result

In [35]:
add_mul('mul', 1, 2, 4.5)

9.0

In [37]:
def alicia(a, b):
    return a + b, a * b

alicia(4, 5)

(9, 20)

In [40]:
result1, result2 = alicia( 2, 4)

In [41]:
print(result1)

6

In [42]:
f = open('newfile.txt', 'w')

In [45]:
f = open('newfile.txt', 'w')
for i in range(1, 10):
    data = '%d번째 줄입니다.\n' % i
    f.write(data)
f.close()

In [46]:
f = open('newfile.txt', 'r')
while True:
    line = f.readline()
    if not line : break
    print(line)
    
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

In [47]:
f = open('newfile.txt', 'r')
lines = f.readlines()
for line in lines:
    print(line)
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

In [48]:
f = open('newfile.txt', 'r')
data = f.read()
print(data)
f.close()

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.

In [49]:
def is_odd(num): 
    if num % 2 == 1:
        return "홀수"
    else :
        return "짝수"

In [50]:
is_odd(3)

'홀수'

In [51]:
is_odd(67)

'홀수'

In [52]:
is_odd(10)

'짝수'

In [53]:
def average(*args):
    add = 0
    for arg in args:
        add += arg
    print(add/len(args))

In [54]:
average(1, 2, 3)

2.0

In [55]:
average(4, 5, 6)

5.0

In [56]:
average(10, 20)

15.0

In [60]:
input1 = int(input("첫번째 숫자를 입력하세요: "))
input2 = int(input("두번째 숫자를 입력하세요: "))

total = input1 + input2
print("두 수의 합은 %d 입니다." % total)

첫번째 숫자를 입력하세요: 3
두번째 숫자를 입력하세요: 4
두 수의 합은 7 입니다.

In [62]:
f1 = open("test.txt", 'w')
f1.write("Life is too short.")

f2 = open("test.txt", 'r')
print(f2.read())

Life is too short.

In [3]:
x = ['25', 'Today', '53', 'Sunday', '15']
x.sort()
print(x)

['15', '25', '53', 'Sunday', 'Today']

In [4]:
x = [5, 3, 6, 2, 4, 0, 1] 
del x[2:3] 
print(x)

[5, 3, 2, 4, 0, 1]

In [5]:
x = [4, 0, 7] 
y = str(x[0])

In [6]:
x = [5, 3, 6, 2, 4, 0, 7] 
del x[0:7] 
print(x)

[]

In [6]:
x = 1 
while x < 10:
    print(x, end=’’) 
        x = x + 1

SyntaxError: invalid character in identifier (<ipython-input-6-c13d2b4e26c8>, line 3)