In [3]:
for a in [1, 2, 3]:
    print(a)

1
2
3

In [8]:
a = 3
if a > 3 : 
    print(a)

In [13]:
i = 0
while i < 3:
    i = i + 1
    print(i)

1
2
3

In [15]:
def add(a, b):    # 함수 정의
    return a + b
    
add(3, 4)

7

In [16]:
################################################################
# 숫자형
################################################################

In [17]:
# 나머지 연산자 (%)

7 % 3

1

In [19]:
13 % 2    # 2로 나눈 나머지가 0이면 항상 홀수

1

In [21]:
12 % 2    # 2로 나눈 나머지가 1이면 항상 짝수

0

In [23]:
30 % 5    # 특정 수로 나눈 나머지가 0이면 그 수의 배수이다.

0

In [25]:
7 // 4    # 몫

1

In [ ]:
#############################################################
# 문자형
#############################################################

In [26]:
"Hello World"

'Hello World'

In [27]:
'Python is fun'

'Python is fun'

In [28]:
"""Life is too short"""

'Life is too short'

In [29]:
'''You need Python'''

'You need Python'

In [31]:
"Python's favorite food is perl"

"Python's favorite food is perl"

In [34]:
Python's favorite food is perl

SyntaxError: EOL while scanning string literal (<ipython-input-34-b75c51646192>, line 1)

In [35]:
'"Pythons is very easy." he says'

'"Pythons is very easy." he says'

In [45]:
'Python\'s favorite food is perl' # 백슬래시를 사용하면 같은 종류의 따옴표 사용 가능

"Python's favorite food is perl"

In [46]:
multiline = 'Life is too short\nYou need Python'

In [47]:
multiline

'Life is too short\nYou need Python'

In [48]:
multiline = '''
Life is too short
You need Python
'''

In [49]:
multiline

'\nLife is too short\nYou need Python\n'

In [50]:
print(multiline)

Life is too short
You need Python

In [55]:
head = 'Python'
tail = ' is Fun.'
head + tail

'Python is Fun.'

In [58]:
a = 'Python'
a * 2

'PythonPython'

In [61]:
print('=' * 50)
print('My program')
print('=' * 50)

==================================================
My program
==================================================

In [64]:
a = 'Life is'    # 빈칸(공백)도 하나의 글자로 간주함
len(a)

7

In [65]:
a = 'Life is too short. You need Python'

In [67]:
a[3]    # 파이썬은 0부터 시작한다. (R은 1부터 시작함)

'e'

In [69]:
a[-1]    # 마이너스는 뒤에서 부터 읽을때 사용.

'n'

In [74]:
a[0:4]    # 슬라이싱은 뒷자리 숫자 '미만'까지만 가져옴.

'Life'

In [75]:
a[5:7]

'is'

In [76]:
a[19:]    # 끝점 생략

'You need Python'

In [77]:
a[:17]    # 시작점 생략

'Life is too short'

In [78]:
a[:]    # 시작점, 끝점 모두 생략

'Life is too short. You need Python'

In [79]:
a[19:-7]

'You need'

In [86]:
a = '20010331Raininy'

In [87]:
date = a[:8]

In [88]:
date

'20010331'

In [89]:
weather = a[8:]

In [90]:
weather

'Raininy'

In [93]:
year = a[:4]

In [94]:
year

'2001'

In [96]:
a = 'Pithon'

In [97]:
a[1]='y'    # 오류

TypeError: 'str' object does not support item assignment

In [98]:
"I eat %d apples."%3

'I eat 3 apples.'

In [100]:
"I eat %s apples"%'five'

'I eat five apples'

In [101]:
number = 3
'I eat %d apples'%number

'I eat 3 apples'

In [103]:
number = 10
day = 'three'
'I ate %d apples. So I was sick for %s days.'%(number, day)

'I ate 10 apples. So I was sick for three days.'

In [104]:
"%10s"%'hi'

'        hi'

In [106]:
"%-10sjane"%'hi'

'hi        jane'

In [107]:
'%f'%3.42134234

'3.421342'

In [108]:
'%0.4f'%3.42134234

'3.4213'

In [109]:
'%10.4f'%3.42134234

'    3.4213'

In [110]:
'I eat {0} apples'.format(3)

'I eat 3 apples'

In [112]:
'I eat {0} apples'.format('five')

'I eat five apples'

In [114]:
number = 10
day = 'three'
'I ate {0} apples. so I was sick for {1} days.'.format(number, day)

'I ate 10 apples. so I was sick for three days.'

In [118]:
'I ate {number} apples. So I was sick for {day} days.'.format(number=10, day=3)

'I ate 10 apples. So I was sick for 3 days.'

In [124]:
'I ate {0} apples. so I was sick for {1} days.'.format(10, 'three')

'I ate 10 apples. so I was sick for three days.'

In [125]:
'{0:<10}'.format('hi')

'hi        '

In [126]:
'{0:>10}'.format('hi')

'        hi'

In [127]:
'{0:^10}'.format('hi')

'    hi    '