In [1]:
x = 20
y = 40
z = y if (y > x) else x
print(z)

40

# 복습

In [112]:
class FourCal:
    def __init__(self, first, second):        # __init__ method는 강제실행됨
        self.first = first
        self.second = second
    
#     def setdata(self, first, second):       
#         self.first = first
#         self.second = second
    def add(self):
        result = self.first + self.second
        return result
    def mul(self):
        result = self.first * self.second
        return result
    def sub(self):
        result = self.first - self.second
        return result
    def div(self):
        result = self.first / self.second
        return result

In [113]:
a = FourCal(4, 2)
a.add()

6

In [114]:
a.first

4

In [115]:
a.second

2

In [116]:
b = FourCal(6,8)
# b.setdata(6, 8)

In [117]:
b.first

6

In [118]:
b.second

8

In [119]:
a.sub()

2

In [120]:
b.sub()

-2

In [121]:
class MoreFourCal(FourCal):
    def pow(self):
        result = self.first ** self.second
        return result

In [122]:
a = MoreFourCal(4,2)

In [123]:
a.add()

6

In [124]:
a.sub()

2

In [125]:
a.pow()

16

In [126]:
a = (4, 0)

In [127]:
# a.div()            # 분모가 0이되어 오류

In [139]:
class SafeFourCal(FourCal):
    def div(self):
        if self.second == 0:
            return 0
        else:
            return sel.first / self.second

In [140]:
a = SafeFourCal(4, 0)

In [141]:
a.div()

0

In [144]:
f = open("없는 파일", "r")        # 원래 이와같이 에러가 나야함

FileNotFoundError: [Errno 2] No such file or directory: '없는 파일'

In [142]:
# 위의 오류 회피하기

try:
    f = open("없는 파일", "r")
except FileNotFoundError:
    pass

In [145]:
class Bird:
    def fly(self):
        raise NotImplementedError

In [149]:
class Eagle(Bird):
    def fly(self):
        print('very fast')

In [150]:
eagle = Eagle()

In [151]:
eagle.fly()        # 자식 클래스가 부모 클래스에 우선함.

very fast

In [163]:
# 예외 만들기
class MyError(Exception):
    pass

In [159]:
def say_nick(nick):
    if nick == '바보':
        raise MyError()
    print(nick)

In [160]:
say_nick('천사')

천사

In [161]:
say_nick('바보')

TypeError: exceptions must derive from BaseException

In [164]:
try:
    say_nick('천사')
    say_nick('바보')
except MyError:
    print('허용되지 않는 별명입니다.')

천사
허용되지 않는 별명입니다.

In [165]:
try:
    say_nick('천사')
    say_nick('바보')
except MyError as e :
    print(e)

천사

In [166]:
class MyError(Exception):
    def __str__(self):
        return '허용되지 않는 별명입니다.'

# 내장함수

In [167]:
abs(3)

3

In [168]:
abs(-3)

3

In [169]:
all([1, 2, 3])    # 거짓이 하나라도 있으면 False

True

In [170]:
all([0, 1, 2, 3])

False

In [172]:
any([0, 1, 2, 3])    # 인수가 모두 거짓일때만 False

True

In [173]:
chr(97)    # 아스키 코드에 해당하는 문자 출력

'a'

In [175]:
chr(76)

'L'

In [176]:
dir([1, 2, 3])    # 관련 함수

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [178]:
divmod(7, 3)    # 몫과 나머지

(2, 1)

In [180]:
for i, name in enumerate(['body', 'foo', 'bar']):    # 순서값을 알려줌. 많이 활용되는 함수.
    print(i, name)

0 body
1 foo
2 bar

In [184]:
def positive(l):
    result = []
    for i in l : 
        if i > 0:
            result.append(i)
    return result

In [185]:
print(positive([1, 2, -3, -10, 4, 7]))

[1, 2, 4, 7]

In [186]:
def positive(x):
    return x > 0

In [187]:
print(list(filter(positive,[1, -3, 2, 0, -5, 6])))

[1, 2, 6]

In [188]:
a = 3

In [189]:
id(3)

140730749198800

In [190]:
id(a)

140730749198800

In [191]:
b = a
id(b)

140730749198800

In [193]:
id(4)

140730749198832

In [195]:
a = input()        # 입력받은 내용이 a로 들어감

hello

In [196]:
b = input('입력하세요.:')

입력하세요.:1234

In [198]:
type(b)        # input을 거치면 무조건 문자 str

str

In [199]:
c = int(input('입력하세요:'))

입력하세요:1234

In [200]:
type(c)

int

In [201]:
len('python')

6

In [203]:
len('py thon')        # 띄어쓰기도 글자로 인식

7

In [205]:
len([1, 2, 3])        # 리스트, 튜플의 길이도 반환

3

In [206]:
list("python")

['p', 'y', 't', 'h', 'o', 'n']

In [207]:
list((1, 2, 3))

[1, 2, 3]

In [208]:
def two_times(numberList):
    result = []
    for number in numberList:
        result.append(number*2)
    return result

In [210]:
result = two_times([1, 2, 3, 4])
print(result)

[2, 4, 6, 8]

In [211]:
def two_times(x):
    return x*2

In [214]:
list(map(two_times,[1, 2, 3, 4]))    # map(함수명, 인수) : 인수에 해당 함수를 하나씩 적용함

[2, 4, 6, 8]

In [216]:
max([1, 2, 3])

3

In [217]:
max('python')

'y'

In [218]:
min([1, 2, 3])

1

In [220]:
min("python")

'h'

In [222]:
ord('a')        # 문자의 아스키값 돌려줌 <-> char함수

97

In [224]:
chr(97)

'a'

In [225]:
list(range(5))

[0, 1, 2, 3, 4]

In [226]:
list(range(5, 10))

[5, 6, 7, 8, 9]

In [228]:
list(range(1, 10, 2))       # range(a, b, c) : a에서 b까지 c씩 증가하는 범위

[1, 3, 5, 7, 9]

In [230]:
list(range(0, -10, -1))

[0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

In [233]:
round(4.6)        # 반올림

5

In [234]:
round(4.2)

4

In [237]:
round(5.678, 2)        # round(a, b) : a를 소수점 아래 b자리까지 반올림

5.68

In [238]:
str(3)

'3'

In [239]:
type(str(3))

str

In [241]:
str('hi'.upper())        # 대문자화

'HI'

In [243]:
str('HI'.lower())        # 소문자화

'hi'

In [244]:
sum([1, 2, 3])

6

In [246]:
'''
!Quiz
[332, 342, 456]의 평균?
'''

a = [332, 342, 456]
average = sum(a)/len(a)
print(average)

376.6666666666667

In [255]:
from statistics import mean

def Average(l): 
    avg = mean(l) 
    return avg
  
my_list = [332, 342, 456] 
average = Average(my_list) 
  
print("Average of my_list is", average)

Average of my_list is 376.6666666666667

In [258]:
import numpy as np
a = np.array([332, 342, 456])
print(a.mean())

376.6666666666667

In [259]:
list(zip([1, 2, 3], [4, 5, 6]))        # zip함수 : 동일한 개수를 가진 두 자료형을 엮어준다.

[(1, 4), (2, 5), (3, 6)]

In [262]:
a = ['monday','tuesday']
a[0] + a[1]

'mondaytuesday'

In [263]:
x = [[0.0, 1.0, 2.0],[4.0, 5.0, 6.0]] 
y = x[1][2] 
print(y)

6.0

In [264]:
x = [5, 4, 3, 2] 
print(x)

[5, 4, 3, 2]

In [265]:
x = [5, 4, 3, 2] 
x.insert(1, 0) 
print(x)

[5, 0, 4, 3, 2]